* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(circle at top, #1a1a1a, #000);
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  color: orange;
  font-weight: bold;
  font-size: 22px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #aaa;
}

nav a.active,
nav a:hover {
  color: orange;
}

.btn {
  background: orange;
  border: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-outline {
  background: transparent;
  border: 1px solid #666;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  max-width: 500px;
}

.intro {
  color: #aaa;
  margin-bottom: 5px;
}

.name {
  font-size: 28px;
  margin-bottom: 10px;
}

.title {
  font-size: 50px;
  color: orange;
  margin-bottom: 25px;
}

.buttons {
  margin-bottom: 40px;
}

/* STATS */
.stats {
  display: flex;
  gap: 40px;
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

.stats h3 {
  color: orange;
  font-size: 26px;
}

/* IMAGE */
.hero-img img {
  width: 380px;
  border-radius: 50%;
  filter: grayscale(100%);
  background: #111;
  padding: 20px;
}
.about, .services {
  padding: 80px 60px;
}

.about h2,
.services h2 {
  font-size: 36px;
  color: orange;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
  color: #ccc;
}

.service-cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid orange;
}

.card h3 {
  color: orange;
  margin-bottom: 10px;
}
.portfolio {
  padding: 80px 60px;
}

.projects {
  display: flex;
  gap: 20px;
}

.project {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  width: 280px;
}

.project h3 {
  color: orange;
}

.project a {
  color: orange;
  text-decoration: none;
}
.contact {
  padding: 80px 60px;
}

.contact form {
  max-width: 400px;
}

.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: #111;
  border: none;
  color: #fff;
}
